@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    string guid = (string)ViewData["guid"],
    Input_BuscarDisponibles_ModalAsignarVehiculos = "Input_BuscarDisponibles_ModalAsignarVehiculos_" + guid,
    Contenedor_Disponibles_ModalAsignarVehiculos = "Contenedor_Disponibles_ModalAsignarVehiculos_" + guid,
    TXT_ContadorDisponibles_ModalAsignarVehiculos = "TXT_ContadorDisponibles_ModalAsignarVehiculos_" + guid,
    BTN_HaciaDerecha_ModalAsignarVehiculos = "BTN_HaciaDerecha_ModalAsignarVehiculos_" + guid,
    BTN_TodoHaciaDerecha_ModalAsignarVehiculos = "BTN_TodoHaciaDerecha_ModalAsignarVehiculos_" + guid,
    BTN_HaciaIzquierda_ModalAsignarVehiculos = "BTN_HaciaIzquierda_ModalAsignarVehiculos_" + guid,
    BTN_TodoHaciaIzquierda_ModalAsignarVehiculos = "BTN_TodoHaciaIzquierda_ModalAsignarVehiculos_" + guid,
    Input_BuscarAsignados_ModalAsignarVehiculos = "Input_BuscarAsignados_ModalAsignarVehiculos_" + guid,
    Contenedor_Asignados_ModalAsignarVehiculos = "Contenedor_Asignados_ModalAsignarVehiculos_" + guid,
    TXT_ContadorAsignados_ModalAsignarVehiculos = "TXT_ContadorAsignados_ModalAsignarVehiculos_" + guid;
}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-5">
                <h6 class="mt-2 text-center">Dispobibles</h6>
                <input type="text" class="form-control my-2" placeholder="Buscar" id="@{@Input_BuscarDisponibles_ModalAsignarVehiculos}" onkeyup="$.Cartas_ModuloAsignarVehiculos.cartas.buscar('@{@Input_BuscarDisponibles_ModalAsignarVehiculos}','@{@Contenedor_Disponibles_ModalAsignarVehiculos}')">
                <div id="@{@Contenedor_Disponibles_ModalAsignarVehiculos}" class="border border-black contenedor-cartas"></div>
                <p class="fst-italic">Mostrando <span id="@{@TXT_ContadorDisponibles_ModalAsignarVehiculos}">50</span>  de  <span class="totalCartas">100</span></p>
            </div>
            <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
                <div class="cotainer-fluid">
                    <div class="row ">
                        <div class="col-lg-12 d-flex align-items-center justify-content-center">
                            <button class="btn btn-outline-secondary BTN_Mover d-flex align-items-center justify-content-center" id="@{@BTN_HaciaDerecha_ModalAsignarVehiculos}">
                                <span class="d-none d-md-block text-center"><i class="bi bi-chevron-right"></i></span>
                                <span class="d-sm-block d-md-none "><i class="bi bi-chevron-down"></i></span>
                            </button>
                            <button class="btn btn-outline-secondary BTN_Mover d-flex align-items-center justify-content-center" id="@{@BTN_TodoHaciaDerecha_ModalAsignarVehiculos}">
                                <span class="d-none d-md-block text-center"><i class="bi bi-chevron-double-right"></i></span>
                                <span class="d-sm-block d-md-none"><i class="bi bi-chevron-double-down"></i></span>
                            </button>
                        </div>
                        <div class="col-lg-12 d-flex align-items-center justify-content-center">
                            <button class="btn btn-outline-secondary BTN_Mover d-flex align-items-center justify-content-center" id="@{@BTN_HaciaIzquierda_ModalAsignarVehiculos}">
                                <span class="d-none d-md-block text-center"><i class="bi bi-chevron-left"></i></span>
                                <span class="d-sm-block d-md-none"><i class="bi bi-chevron-up"></i></span>
                            </button>
                            <button class="btn btn-outline-secondary BTN_Mover d-flex align-items-center justify-content-center" id="@{@BTN_TodoHaciaIzquierda_ModalAsignarVehiculos}">
                                <span class="d-none d-md-block text-center"><i class="bi bi-chevron-double-left"></i></span>
                                <span class="d-sm-block d-md-none"><i class="bi bi-chevron-double-up"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <h6 class="mt-2 text-center">Asignados</h6>
                <input type="text" class="form-control my-2" placeholder="Buscar" id="@{@Input_BuscarAsignados_ModalAsignarVehiculos}" onkeyup="$.Cartas_ModuloAsignarVehiculos.cartas.buscar('@{@Input_BuscarAsignados_ModalAsignarVehiculos}','@{@Contenedor_Asignados_ModalAsignarVehiculos}')">
                <div id="@{@Contenedor_Asignados_ModalAsignarVehiculos}" class="border border-black contenedor-cartas"></div>
                <!--<span id="contadorAsignados" class="fst-italic" style="color: #6c6c6c;">Mostrando 50 de 100</span>-->
                <p class="fst-italic">Mostrando <span id="@{@TXT_ContadorAsignados_ModalAsignarVehiculos}">50</span>  de  <span class="totalCartas">100</span></p>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-body {
        padding: 0px;
    }

    .contenedor-cartas {
        height: 20vh;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0px 10px 0px 10px;
    }

    .form-control:focus {
        border-color: #dee2e6;
        box-shadow: none;
    }

    .BTN_Mover {
        height: 25px;
        width: 35px;
        margin: 2px;
    }

    .carta {
        cursor: pointer
    }

    .seleccionado {
        background: #1967d2;
        color: #FFFF;
    }


    .TXT_Mobile {
        font-size: 15px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        border-radius: 8px;
        background-color: #aaa;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 1px 1px 6px #333;
        background-color: #666;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            border-radius: 10px;
            background: rgba(0,0,0,.3);
        }
</style>
<script>
    /*Nota
    carta es el div donde se muestra el vehiculo*/
    (function () {
        $.extend({
            Cartas_ModuloAsignarVehiculos: {
                cartas: {
                    cargarCartas: function (mobiles) {//Función para mostrar las cartas 
                        var _this = this
                        var disponibles = mobiles.filter(mobile => mobile.disponible === true);//Se obtinen los vehiculos disponibles
                        var asignados = mobiles.filter(mobile => mobile.disponible === false);//Se obtienen los vehiculos asignados
                        @*console.log("Segunda Vista: "+"@{@ID_GRID_RANGO}")*@

                        /* Se limpian los contenedores de las cartas*/
                        $("#@{@Contenedor_Disponibles_ModalAsignarVehiculos}").empty()
                        $("#@{@Contenedor_Asignados_ModalAsignarVehiculos}").empty()

                        /*Se muestran los disponibles*/
                        for (let i = 0; i < disponibles.length; i++) {
                            let div =
                                '<div class= "carta"  seleccionado = false>' +
                                '<h2 class="TXT_Mobile px-2" value = "' + disponibles[i].mobileid + '">' + disponibles[i].nombre + " - [" + disponibles[i].placa + "] - [" + disponibles[i].subfleet + "]" + '</h2>'
                            '</div>'
                            $("#@{@Contenedor_Disponibles_ModalAsignarVehiculos}").append(div);
                        }
                        /*Se muestran los asignados*/
                        for (let i = 0; i < asignados.length; i++) {
                            let div =
                                '<div class= "carta"  seleccionado = false>' +
                                '<h2 class="TXT_Mobile px-2" value = "' + asignados[i].mobileid + '">' + asignados[i].nombre + " - [" + asignados[i].placa + "] - [" + asignados[i].subfleet + "]" + '</h2>'
                            '</div>'
                            $("#@{@Contenedor_Asignados_ModalAsignarVehiculos}").append(div);
                        }
                        
                        $(".totalCartas").text(mobiles.length)//Se muestra la cantidad de vehiculos por compañia
                        _this.contadorCartas();//Se llama a la función que cuenta las cartas
                        _this.clickCarta()//Se llama a la función que selecciona las cartas
                    },
                    cambiarEstado: function (_this) {//Función asigna o elimina la clase css selecionado
                        let seleccionado = _this.attr("seleccionado");
                        if (seleccionado === "true") {
                            _this.attr("seleccionado", "false");
                            //_this.css("background", "white");
                            _this.removeClass("seleccionado")
                        } else {
                            _this.attr("seleccionado", "true");
                            //_this.css("background", "#1967d2");
                            _this.addClass("seleccionado")
                        }
                    },
                    clickCarta: function () {//Función para dar clic en las cartas
                        var _this = this;

                        $(".carta").on("click", function () {
                            var carta = $(this);
                            _this.cambiarEstado(carta);//Se llama a la función que cambía estado
                        });
                    },
                    buscar: function (ID_Input, ID_Contenedor) {//Función para buscar 
                        let ValorInput = $("#" + ID_Input).val()
                        let cartas = $("#" + ID_Contenedor + " div")

                        cartas.each(function () {
                            let carta = $(this);
                            let NombreMobile = carta.children("h2").text();
                            NombreMobile.includes(ValorInput) === true ? carta.css("display", "block") : carta.css("display", "none");
                        });

                    },
                    contadorCartas: function () {//Función para contar los disponibles y los asignados 
                        var _this = this
                        $("#@{@TXT_ContadorDisponibles_ModalAsignarVehiculos}").text($("#@{@Contenedor_Disponibles_ModalAsignarVehiculos} div").length)
                        $("#@{@TXT_ContadorAsignados_ModalAsignarVehiculos}").text($("#@{@Contenedor_Asignados_ModalAsignarVehiculos} div").length)
                    },
                    movimientos: {
                        moverDerecha: function () {//Función para mover las cartas seleccionadas a la derecha
                            $("#@{@BTN_HaciaDerecha_ModalAsignarVehiculos}").on("click", function () {
                                /*Nota: seleccionado es un atributo html personalizado que se le asigan el div cuando se ingresan al contenedor de los selecionados */
                                $('#@{@Contenedor_Disponibles_ModalAsignarVehiculos} div[seleccionado="true"]').each(function () {//Se obtienen los seleccionados y se reccorren en un array 
                                    $.Cartas_ModuloAsignarVehiculos.cartas.cambiarEstado($(this))// Se llama a la función de cambio de estado y se le pasa la carta
                                    $("#@{@Contenedor_Asignados_ModalAsignarVehiculos}").append($(this));//Se mueven las cartas al contenedor asignados
                                    $.Cartas_ModuloAsignarVehiculos.cartas.contadorCartas()
                                });
                            });
                        },
                        moverIzquierda: function () {//Función para mover las cartas seleccionadas a la izquierda
                            $("#@{@BTN_HaciaIzquierda_ModalAsignarVehiculos}").on("click", function () {                            
                                $('#@{@Contenedor_Asignados_ModalAsignarVehiculos} div[seleccionado="true"]').each(function () {//Se obtienen los seleccionados y se reccorren en un array 
                                    $.Cartas_ModuloAsignarVehiculos.cartas.cambiarEstado($(this))// Se llama a la función de cambio de estado y se le pasa la carta
                                    $("#@{@Contenedor_Disponibles_ModalAsignarVehiculos}").append($(this));//Se mueven las cartas al contenedor disponibles
                                    $.Cartas_ModuloAsignarVehiculos.cartas.contadorCartas()//Se actuliza el contador de las cartas
                                });
                            });
                        },
                        moverTodoDerecha: function () {//Función para mover todas las cartas a la derecha 
                            $("#@{@BTN_TodoHaciaDerecha_ModalAsignarVehiculos}").on("click", function () {
                                $('#@{@Contenedor_Disponibles_ModalAsignarVehiculos} div').each(function () {//Se obtienen todos los div del contenedor disponibles
                                    //console.log($(this))
                                    $(this).attr("seleccionado", "false");//se cambia el atributo seleccionado por false  en caso sea true
                                    $(this).removeClass("seleccionado");//Se remueve la calse seleccioando en caso de tenerla
                                    //$(this).css("background", "white");
                                    $("#@{@Contenedor_Asignados_ModalAsignarVehiculos}").append($(this));//Se asigna la carta al contenedor asigando
                                    $.Cartas_ModuloAsignarVehiculos.cartas.contadorCartas()//Se actuliza el contador de las cartas
                                });
                            });
                        },
                        moverTodoIzquierda: function () {//Función para mover todas las cartas a laizquierda
                            $("#@{@BTN_TodoHaciaIzquierda_ModalAsignarVehiculos}").on("click", function () {
                                $('#@{@Contenedor_Asignados_ModalAsignarVehiculos} div').each(function () {//Se obtienen todos los div del contenedor asignados
                                    //console.log($(this))
                                    $(this).attr("seleccionado", "false");//se cambia el atributo seleccionado por false  en caso sea true
                                    $(this).removeClass("seleccionado");//Se remueve la calse seleccioando en caso de tenerla
                                    //$(this).css("background", "white");
                                    $("#@{@Contenedor_Disponibles_ModalAsignarVehiculos}").append($(this));//Se asigna la carta al contenedor disponibles
                                    $.Cartas_ModuloAsignarVehiculos.cartas.contadorCartas()//Se actuliza el contador de las cartas
                                });
                            });

                        },
                        init: function () {//Función para llamar a las funciones de los botones
                            var _this = this
                            _this.moverDerecha()
                            _this.moverIzquierda()
                            _this.moverTodoDerecha()
                            _this.moverTodoIzquierda()
                        }
                    }
                },
                init: function () {
                    var _this = this
                    //_this.cartas.cargarCartas()
                    _this.cartas.contadorCartas()
                    _this.cartas.buscar()
                    _this.cartas.movimientos.init()
                    //_this.cartas.clickCarta()
                }
            }
        })
        $.Cartas_ModuloAsignarVehiculos.init()
    })();
</script>