@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<section>
    <div class="card">
        <div class="container-fluid p-lg-4 p-3">
            <div class="row">
                <h2 class="text-center ">Centros de Costo</h2>
            </div>
            <div class="row">
                <label class="mb-2">Ingrese nombre del centro de costo</label>
            </div>
            <div class="row">
                <div class="col-lg-8 col-12 mb-2 mb-lg-0">
                    <input type="text" class="form-control" id="input_CentroCosto">
                </div>
                <div class="col-lg-4 col-12">
                    <button type="button" class="btn btn-success w-100" id="BTN_CenCost"><i class="bi bi-plus-circle fs-6"></i> <span> Agregar Centro de Costos</span></button>
                </div>
            </div>
        </div>       
    </div>
    <div class="card">
        <div class="container-fluid p-lg-5">
            @*<div class="row mt-3 mt-lg-0">
                <h2 class="text-center">Centros de costo</h2>
            </div>*@
            <div class="row mt-lg-2 mt-3">
                <div id="GridCentroCosto">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="bi bi-pencil-square"> </i>
                    <h5 class="modal-title" id="editarModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <div class="container-fluid">
                       <div class="row">
                            <span>Ingrese el nuevo nombre del centro de costo</span>
                       </div>
                       <div class="row pt-lg-2">
                           <div class="col-lg-12">
                               <input type="text" id="InputNombreCentroCosto" class="form-control"/>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-12 mt-lg-1">
                               <span id="ModalAlert"></span>
                           </div>
                       </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn btn-success" id="BTN_Guardar"><i class="bi bi-floppy"></i> Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .k-grid-Editar {
        background: #198754;
        color: white;
    }

        .k-grid-Editar:hover {
            background: #157347;
        }

    .k-grid-Eliminar {
        background: #dc3545;
        color: white;
    }

        .k-grid-Eliminar:hover {
            background: #bb2d3b;
            color: white;
        }
    .col-command {
        text-align: center !important;
        width:195px;
    }
    @@media screen and (max-width: 576px) {
        .col-command {
            width: 60%; 
        }
    }

</style>
<script type="text/javascript">
    (function () {
        $.extend({
            CentroCosto: {
                BTN_AgregarCentroCosto: function () {
                    var _this = this
                    $("#BTN_CenCost").on("click", function () {
                        var nombre = $("#input_CentroCosto").val().trim()
                        if (_this.validaciones(nombre)) {
                            $.post('@Url.Action("crearCentroCosto", "adCentroCosto")', { Nombre: nombre }, function (mensaje) {
                                console.log(mensaje)
                                mensaje = mensaje[0]
                                if (mensaje.bandera === 0) {
                                    $._combustible.alert("error", "Error", mensaje.resultado)
                                } else {
                                    $._combustible.alert("success", "Creacion exitosa", mensaje.resultado)
                                    $.Grid.dataGrid();
                                    $("#input_CentroCosto").val("")
                                }
                            })
                        }

                    })
                },
                validaciones: function (nombre) {
                    if (nombre === "") {
                        $._combustible.alert("error", "Campo vacio", "Debe insertar un nombre para el centro de costo")
                        return false
                    }
                    if (nombre.length < 3) {
                        $._combustible.alert("error", "Nombre demasiado corto", "El nombre debe tener al menos cuatro caractares")
                        return false
                    }
                    return true
                }
            },
            Grid: {
                loadGrid: function () {
                    var _this = this
                    $("#GridCentroCosto").html("");
                    $("#GridCentroCosto").kendoGrid({
                        dataSource: {
                            pageSize: 10
                        },
                        toolbar: ["search"],
                        columns: [                            
                            {
                                field: "nombreCentroCosto",
                                title: "Nombre"
                            },
                            {
                                command: [
                                    {
                                        name: "Editar",
                                        text: '<span> <i class="bi bi-pencil-square"></i></i> Editar </span>',
                                        click: function (e) {
                                            e.preventDefault();
                                            var tr = $(e.target).closest("tr");
                                            var data = this.dataItem(tr);
                                            $("#editarModalLabel").text("Modificar centro de costo")
                                            _this.modal.CentroCostoID = data.centroCostoID
                                            $("#ModalAlert").text("")
                                            $("#InputNombreCentroCosto").val(data.nombreCentroCosto)
                                            $('#editarModal').modal('show');

                                        }
                                    },
                                    {
                                        name: "Eliminar",
                                        text: '<span> <i class="bi bi-trash3"></i> Eliminar </span>',
                                        click: function (e) {
                                            e.preventDefault();
                                            var tr = $(e.target).closest("tr");
                                            var data = this.dataItem(tr);
                                            //console.log(data)
                                            //$.Grid.modal.EliminarCentroCosto(data.centroCostoID)
                                            $.Grid.EliminarCentroCosto(data.centroCostoID, data.nombreCentroCosto)
                                        }
                                    }
                                ],
                                attributes: { /*style: "text-align: center; width:15vw" */ class: "col-command" },
                                headerAttributes: { class: "col-command" }
                                //width: "15%"
                            }
                        ],
                        dataBound: function (e) {
                            $("#GridCentroCosto > div span input").attr("placeholder", "Busqueda")
                        },
                        pageable: true,
                        mobile: "phone",
                    });
                    _this.dataGrid();
                },
                dataGrid: function () {
                    $("#GridCentroCosto").data("kendoGrid").dataSource.data([])
                    $.get('@Url.Action("ObtenerCentrosCosto", "adCentroCosto")', function (CentrosCosto) {
                        $("#GridCentroCosto").data("kendoGrid").dataSource.data(CentrosCosto)
                    })
                },
                EliminarCentroCosto: function (_CentroCostoID, _Razon) {
                    
                    Swal.fire({
                        title: "¿Esta seguro?",
                        text: 'La eliminacion de "' + _Razon + '" no es reversible',
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        cancelButtonText: "Cancelar",
                        confirmButtonText: "Si, eliminar!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.post('@Url.Action("EliminarCentroCosto", "adCentroCosto")', { CentroCostoID: _CentroCostoID }, function (mensaje) {
                                mensaje = mensaje[0]
                                if (mensaje.bandera === 1) {
                                    $._combustible.alert("success", "Eliminación exitosa", mensaje.resultado)
                                    $.Grid.dataGrid()
                                } else {
                                    $._combustible.alert("error", "Error", mensaje.resultado)
                                }
                            })
                        }
                    });
                },
                modal:{
                    CentroCostoID : "",
                    BTN_GuardarCambios: function () {
                        var _this = this                        
                        $("#BTN_Guardar").on("click", function () {
                            var NombreCentroCostoNuevo = $("#InputNombreCentroCosto").val().trim()
                            if (_this.validaciones(NombreCentroCostoNuevo) === true) {
                                var arg = { 
                                    CentroCostoID: _this.CentroCostoID,
                                    NombreNuevo: NombreCentroCostoNuevo
                                }

                                $.post('@Url.Action("ActualizarCentrosCosto", "adCentroCosto")', arg, function (mensaje) {
                                    
                                    mensaje = mensaje[0]
                                    console.log(mensaje)
                                    if (mensaje.bandera === 1) {
                                        _this.alertModal("suceso", mensaje.resultado)
                                        $.Grid.dataGrid()
                                    } else {
                                        _this.alertModal("alerta", mensaje.resultado)
                                    }
                                    
                                })
                            }
                        });
                        
                    },
                    
                    validaciones: function (nombre) {
                        var _this = this

                        $("#ModalAlert").text("")
                        if (nombre === "") {
                            _this.alertModal("alerta", "Debe ingresar el nuevo nombre")
                            return false
                        }

                        if (nombre.length < 3) {
                            _this.alertModal("alerta", "El Nombre debe tener al menos tres carácteres")
                            return false
                        }

                        return true
                    }, 
                    alertModal: function (tipo,mensaje) {                       
                        if (tipo === "alerta") {
                            $("#ModalAlert").text("Alerta: "+mensaje)
                            $("#ModalAlert").css("color", "red")
                        }
                        if (tipo === "suceso") {
                            $("#ModalAlert").text("Nota: " + mensaje)
                            $("#ModalAlert").css("color", "green")
                        }
                    }
                }
            },
            init: function () {
                var _this = this
                _this.CentroCosto.BTN_AgregarCentroCosto()
                _this.Grid.loadGrid()
                _this.Grid.modal.BTN_GuardarCambios()
            }
        })
        $.init()
    })();
</script>