@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="container-fluid p-lg-4 p-3">
        <div class="row">
            <h2 class="text-center ">Centros de Costo</h2>
        </div>
        <div class="row">
            <label class="mb-2">Ingrese nombre del centro de costo</label>
        </div>
        <div class="row">
            <div class="col-lg-8 col-12 mb-2 mb-lg-0">
                <input type="text" class="form-control" id="input_CentroCosto">
            </div>
            <div class="col-lg-4 col-12">
                <button type="button" class="btn btn-success w-100" id="BTN_CenCost"><i class="bi bi-plus-circle fs-6"></i> <span> Agregar Centro de Costos</span></button>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        $.extend({
            CentroCosto: {
                BTN_AgregarCentroCosto: function () {
                    var _this = this
                    $("#BTN_CenCost").on("click", function () {
                        var nombre = $("#input_CentroCosto").val().trim()
                        if (_this.validaciones(nombre)) {
                            $.post('@Url.Action("crearCentroCosto", "adCentroCosto")', { Nombre: nombre }, function (mensaje) {
                                console.log(mensaje)
                                mensaje = mensaje[0]
                                if (mensaje.bandera === 0) {
                                    $._combustible.alert("error", "Error", mensaje.resultado)
                                } else {
                                    $._combustible.alert("success", "Creacion exitosa", mensaje.resultado)
                                    $.Grid.dataGrid();
                                    $("#input_CentroCosto").val("")
                                }
                            })
                        }

                    })
                },
                validaciones: function (nombre) {
                    if (nombre === "") {
                        $._combustible.alert("error", "Campo vacio", "Debe insertar un nombre para el centro de costo")
                        return false
                    }
                    if (nombre.length < 3) {
                        $._combustible.alert("error", "Nombre demasiado corto", "El nombre debe tener al menos cuatro caractares")
                        return false
                    }
                    return true
                }
            },
            init: function () {
                var _this = this
                _this.CentroCosto.BTN_AgregarCentroCosto()
                /*_this.Grid.loadGrid()
                _this.Grid.modal.BTN_GuardarCambios()*/
            }
        })
        $.init()
    })();
</script>