@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<section>
    <div class="card">
        <div class="container-fluid p-4">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center"> Reporte de linea de tiempo por vale</h2>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-3 col-12">
                    <label>Fecha Inicio</label>
                    <input id="FechaIni" />
                </div>
                <div class="col-lg-3 col-12 mt-2 mt-lg-0 offset-lg-4">
                    <label>Fecha Fin</label>
                    <input id="FechaFin" />
                </div>
                <div class="col-lg-2 d-flex align-items-end col-12 mt-2 mt-lg-0">
                    <button type="button" class="btn btn-success w-100" id="BTN_GenerarReporte"> Generar </button>
                </div>
            </div>

            <div class="row mt-5 pt-5">
                <div class="col-lg-1 d-flex align-items-center justify-content-end">
                    <span>P44454</span>
                </div>
                <div class="col-lg-10 d-flex">
                    <div class="contenedor">
                        <div class="barra-generado">

                        </div>
                        <div class="circulo circulo-generado" Fecha="18/05/00" Usuario="Henryhrra" TipoUsuario="Generador">

                        </div>
                    </div>
                    <div class="contenedor">
                        <div class="barra-autorizado">
                        </div>
                        <div class="circulo circulo-autorizado" Fecha="18/05/00" Usuario="Henryhrra" TipoUsuario="Autorizador">
                        </div>
                    </div>
                    <div class="contenedor">
                        <div class="barra-cancelado">
                        </div>
                        <div class="circulo circulo-cancelado" Fecha="18/05/00" Usuario="Henryhrra" TipoUsuario="Cerrador">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-5">
                <div class="col-lg-1 d-flex align-items-center justify-content-end">
                    <span>P44454</span>
                </div>
                <div class="col-lg-10 d-flex">
                    <div class="contenedor">
                        <div class="barra-anulado">
                        </div>
                        <div class="circulo-anulado" Fecha="18/05/00" Usuario="Henryhrra" >
                        </div>
                    </div>
                    <div class="contenedor">
                        <div class="barra-anulado">
                        </div>
                        <div class="circulo-anulado" Fecha="18/05/00" Usuario="Henryhrra" >
                        </div>
                    </div>
                    <div class="contenedor">
                        <div class="barra-anulado">
                        </div>
                        <div class="circulo circulo-anulado" Fecha="18/05/00" Usuario="Henryhrra" TipoUsuario="Cancelador">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .contenedor{
        height:50px;
        width:25%;
        display:flex;
        align-items:center;
    }

    .barra-generado {
        flex: 1;
        background: linear-gradient(to bottom, #b3ffb3, #66ff66);
        height: 10px;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 5px rgba(0, 0, 0, 0.2);
    }

    .circulo-generado{
        height: 20px;
        width:20px;
        border-radius:100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to bottom, #b3ffb3, #66ff66);
    }

    .barra-autorizado {
        flex: 1;
        background: linear-gradient(to bottom, #b3e0ff, #3385ff);
        height: 10px;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 5px rgba(0, 0, 0, 0.2);
    }

    .circulo-autorizado {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to bottom, #b3e0ff, #3385ff);
    }

    .barra-cancelado {
        flex: 1;
        background: linear-gradient(to bottom, #ffffcc, #ffcc00);
        height: 10px;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 5px rgba(0, 0, 0, 0.2);
    }
    .circulo-cancelado {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to bottom, #ffffcc, #ffcc00);
    }

    .barra-anulado {
        flex: 1;
        background: linear-gradient(to bottom, #d9d9d9, #a6a6a6);
        height: 10px;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 5px rgba(0, 0, 0, 0.2);
    }

    .circulo-anulado {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to bottom, #d9d9d9, #a6a6a6);
    }
</style>
<script>
    (function () {
        $.extend({
            MostrarData: {
                Circulo: {
                    Generar: function(){
                        var _this = this
                        var Circulos = $(".circulo");

                        Circulos.each(function (index) {
                            var Fecha = $(this).attr("Fecha");
                            var Usuario = $(this).attr("Usuario");
                            var TipoUsuario = $(this).attr("TipoUsuario");

                            let data = `<div style="display: inline-block;"><h6>Us. ${TipoUsuario}: ${Usuario}</h6><span> Fecha de cierre: ${Fecha}</span></div>`;

                            let instance = tippy(this, {
                                content: data,
                                theme: 'light',
                                placement: 'top',
                                hideOnClick: false,
                                trigger: 'manual',
                                interactive: true,
                                allowHTML: true,
                                offset: [0, 10], 
                            });

                            instance.show();

                            _this.ActualizarPocision(this, instance)
                        });

                    }, 
                    ActualizarPocision: function (circulo, tooltip) {
                        var pocisionDataAnterior = $(circulo).offset();
                        var PosXAnterior = pocisionDataAnterior.left

                        function verificarPosicion() {

                            var pocisionData = $(circulo).offset();
                            var PosX = pocisionData.left

                            if (PosX !== PosXAnterior) {
                                
                                let X = PosXAnterior - PosX

                                tooltip.setProps({
                                    offset: [X, 10],
                                });

                                PosXAnterior = PosX;
                            }
                        }
                        setInterval(verificarPosicion, 10);
                    }
                },
                Barrras: {

                }
            },
            BarrraOpciones: {
                Load: function () {
                    $("#FechaIni").kendoDateTimePicker({
                        dateInput: true,
                        startTime: new Date(2023, 1, 3, 8, 30, 0),
                        endTime: new Date(2023, 1, 3, 17,00, 0)
                    });
                    $("#FechaFin").kendoDateTimePicker({
                        dateInput: true,
                        startTime: new Date(2023, 1, 3, 8, 30, 0),
                        endTime: new Date(2023, 1, 3, 17,00, 0)
                    });

                    /*var dataVariable = new kendo.data.DataSource({
                        data: [
                            { EstadoID: 1, EstadoName: "Vales Generdos" },
                            { EstadoID: 2, EstadoName: "Suma de Galones" },
                            { EstadoID: 3, EstadoName: "Suma de Dolares" },
                            { EstadoID: 3, EstadoName: "Suma de Dolares" }
                        ],
                        sort: { field: "CityName", dir: "asc" }
                    });

                    $("#kendoDropDownListVariable").kendoDropDownList({
                        filter: "contains",
                        dataTextField: "TopName",
                        dataValueField: "TopID",
                        dataSource: dataVariable
                    });*/


                    
                    $("#FechaIni").data("kendoDateTimePicker").value(kendo.parseDate(moment().subtract(30, 'days').format("YYYY/MM/DD HH:mm:ss:SSS")));
                    $("#FechaFin").data("kendoDateTimePicker").value(kendo.parseDate(moment().format("YYYY/MM/DD HH:mm:ss.SSS")));

                },
                Data: function () {

                }
            },
            init: function () {
                var _this = this
               // _this.MostrarData()
                _this.MostrarData.Circulo.Generar()
                //_this.MostrarData.Circulo.ActualizarPocision()
                _this.BarrraOpciones.Load()
            }
        })
        $.init()
    })()
</script>