@{
    Layout = null;
}
<div>
    @*<h2 class="text-center"> Registro de Flotas</h2>*@
    <div class="container-fluid">
        <div class="row">
            <div>
                <label class="form-label" for="">Ingrese el nombre de la Flota</label>
            </div>
            <div class="form-outline col-12">
                
                <input type="text" class="form-control" id="Flota_Modal"/>
            </div>
            @*@<div class="form-outline col-6">
                <input type="button" id="BTN_AgregarFlotaModal" class="btn btn-success w-100" value="Registrar Flota"/>
            </div>*@
        </div>
        <div class="row">
            <span id="nota" class="mt-1"></span>
        </div>
    </div>
</div>
<style>
    #nota {
        font-size: 13px;
    }
</style>