@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;

    string guid = System.Guid.NewGuid().ToString().Replace("-", ""),
    Input_NombreGasolinera = "Input_NombreGasolinera_" + guid,
    Input_CodigoGasolinera = "Input_CodigoGasolinera_" + guid,
    Input_CiudadGasolinera = "Input_CiudadGasolinera_" + guid,
    Input_GerenteGasolinera = "Input_GerenteGasolinera_" + guid,
    Input_TelefonoGasolinera = "Input_TelefonoGasolinera_" + guid,
    Input_NITGasolinera = "Input_NITGasolinera_" + guid,
    Input_DireccionGasolinera = "Input_DireccionGasolinera_" + guid,
    Input_EmailGasolinera = "Input_EmailGasolinera" + guid,
    BTN_ShowHideMapa = "BTN_ShowHideMapa_" + guid,
    TXT_ShowHideMapa = "TXT_ShowHideMapa_" + guid,
    Flecha = "Flecha_" + guid,
    BTN_GuardarGasolinera = "BTN_GuardarGasolinera_" + guid,
    DIV_Mapa = "DIV_Mapa_" + guid,
    Map = "Map_" + guid,
    GRID_Gasolinera = "GRID_Gasolinera_" + guid,
    ModalMapa = "ModalMapa_" + guid,
    TXT_NombreGasolineraModal = "TXT_NombreGasolineraModal_" + guid,
    Modal_body_mapa = "Modal_body_mapa_" + guid,
    MapaModal = "MapaModal_" + guid;
}
<section>
    <div class="container-fluid card p-lg-4 p-3">
        <div class="row"> 
            <div class="col-lg-12">
                <h2 class="text-center">Agregar Gasolinera</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <h6>Ingrese el nombre de la Gasolinera</h6>
                <input type="text" class="form-control mt-lg-2" id="@{@Input_NombreGasolinera}" />
            </div>
            <div class="col-lg-6">
                <h6>Ingrese el código de la Gasolinera</h6>
                <input type="text" class="form-control mt-lg-2" id="@{@Input_CodigoGasolinera}" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <h6>Ingrese la ciudad de la Gasolinera</h6>
                <input type="text" class="form-control mt-lg-2"  id="@{@Input_CiudadGasolinera}"/>
            </div>
            <div class="col-lg-6">
                <h6>Ingrese el Gerente de la Gasolinera</h6>
                <input type="text" class="form-control mt-lg-2"  id="@{@Input_GerenteGasolinera}"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <h6>Ingrese el teléfono de la Gasolinera</h6>
                <input type="text" class="form-control mt-lg-2"  id="@{@Input_TelefonoGasolinera}"/>
            </div>
            <div class="col-lg-6">
                <h6>Ingrese el NIT de la Gasolinera</h6>
                <input type="text" class="form-control mt-lg-2"  id="@{@Input_NITGasolinera}"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <h6>Ingrese la dirección de la Gasolinera</h6>
                <input type="text" class="form-control mt-lg-2"  id="@{@Input_DireccionGasolinera}"/>
            </div>
            <div class="col-lg-6">
                <h6>Ingrese el correo electrónico de la gasolinera</h6>
                <input type="text" class="form-control mt-lg-2"  id="@{@Input_EmailGasolinera}"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <button type="button" class="btn btn-success w-100 my-2 my-lg-0" id="@{@BTN_ShowHideMapa}"> <i class="bi bi-pin-map"></i> <span id="TXT_ShowHideMapa" class="ms-2"> Agregar Ubicación</span> <i id="@{@Flecha}" class="bi bi-chevron-down"></i></button>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-success w-100" id="@{@BTN_GuardarGasolinera}"> <i class="bi bi-plus-circle"></i> <span> Guardar Gasolinera</span></button>
            </div>
        </div>
    </div>
    <div class="container-fluid " id="@{@DIV_Mapa}">
        <div class="card p-lg-4 p-3">
            <div class="col-lg-12">
                <h2 class="text-center"> Agregar Ubicación</h2>
            </div>
            <div class="col-lg-12">
                <div id="@{@Map}">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid card p-lg-4 p-3">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Gasolineras</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <div id="@{@GRID_Gasolinera}">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade rounded" id="@{@ModalMapa}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> <i class="bi bi-geo"></i> <span id="@{@TXT_NombreGasolineraModal}"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="@{@Modal_body_mapa}">

                </div>
            </div>
        </div>
    </div>
</section>
<style>
    #@{@Map}{
        height:50vh;

    }

    .col-data {
        width: 150px !important;
    }


    .col-ubicacion {
        text-align: center !important;
        width: 100px !important;
    }

    @@media screen and (max-width: 576px) {

        .col-data {
            width: 120px !important;
        }

        .col-ubicacion {
            text-align: center !important;
            width: 120px !important;
        }
    }

    /*@@media (min-width: 768px) and (max-width: 991.98px) {
        .col-data {
            width: 100px;
        }

        .col-ubicacion {
            text-align: center !important;
            width: 40px 100px !important;
        }
    }*/
</style>
<script>
    (function () {
        $.extend({
            ModuloGasolinera:{
                AgregarGasolinera: {
                    AgregarUbicaion: {
                        markers: [],//Array para contener los marcadores
                        circles: [],//Array para contener los circulos
                        CargarMapa: function () {//Función para cargar mapa
                            var _this = this

                            $.LoadAPI().then(() => {//Se manda a llamar a la funcion de la view shared para inicializar la api de goole en base a la URL, es decir produción o desarrollo
                                const map = new google.maps.Map(document.getElementById("@{@Map}"), {//Se inicializa el mapa
                                    center: { lat: 13.703052612879729, lng: -89.20242358465791 },//Se determina la zona que se mostrara en el mapa
                                    zoom: 13,// El acercamiento 
                                    mapTypeId: "hybrid",//El tipo de mampa 
                                    gestureHandling: 'greedy'//Se configura la interación del usuario con el mapa, en este caso que en la version movil se pueda usar los dedos

                                });

                                map.addListener('click', function (event) {//Se añade el evento on click
                                    //console.log("XD")
                                    _this.EliminarMarcador();
                                    _this.AgregarMarcador(event.latLng, map);//Se manda a llamar a la función que agrega marcadores
                                });
                            }).catch((error) => {
                                console.error("Error loading Google Maps API script: ", error);
                            });

                            /*const map = new google.maps.Map(document.getElementById("map"), {
                                center: { lat: 13.703052612879729, lng: -89.20242358465791 },
                                zoom: 13,
                                mapTypeId: "hybrid",
                                gestureHandling: 'greedy'

                            });

                            map.addListener('click', function (event) {
                                _this.EliminarMarcador();
                                _this.AgregarMarcador(event.latLng, map);
                            });*/

                        },
                        AgregarMarcador: function (location, map) {//Funcion para agregar los marcadores y el circulo
                            var _this = this
                            var marker = new google.maps.Marker({ // Se incializa el marcador
                                position: location,//Se indica la ubicación
                                Draggable: true,//Se habilita el mantener click y jalar
                                map: map//Se añade al mapa
                            });

                            const circle = new google.maps.Circle({//Se inicializar el circulo
                                strokeColor: "#FF0000", //Color del borde
                                strokeOpacity: 0.8, //opacidad
                                strokeWeight: 2, // Grosor del borde 
                                fillColor: "#FF0000", //Color del relleno
                                fillOpacity: 0.35,//opacidad del relleno
                                clickable: false,// Se desabilita el click
                                map,//se añade al mapa
                                center: location,//La ubicación del circulo
                                radius: 50 // Se define el tamaño del circulo
                            });

                            circle.bindTo('center', marker, 'position');

                            _this.markers.push(marker);
                            _this.circles.push(circle)
                        },
                        EliminarMarcador: function () {//Funcion para eliminar el marcador y circulo
                            var _this = this
                            var circles = _this.circles //Se obtienen los circulos
                            var markers = _this.markers //Se obtienen los marcadores

                            for (var i = 0; i < markers.length; i++) {//Se eliminan los marcadores
                                markers[i].setMap(null);
                            }

                            for (var i = 0; i < circles.length; i++) {//Se eliminan los circulos
                                circles[i].setMap(null);
                            }

                            markers = [];
                            circles = [];
                            _this.circles = circles //Se guarda un array vacio en circulos y marcadores
                            _this.markers = markers
                        },
                        Visibilidad: function () {//Funcion que controla la visivilidad del mapa para agregar la ubicación
                            $('#@{@DIV_Mapa}').hide()//se oculta el mapa al entrar al modulo
                            $('#@{@BTN_ShowHideMapa}').click(function () { 
                                if ($("#@{@DIV_Mapa}").css("display") === "none") {
                                    /*Se cambia el texto y el icono*/
                                    $("#@{@Flecha}").removeClass("bi-chevron-down")
                                    $("#@{@Flecha}").addClass("bi-chevron-up")
                                    $("#@{@TXT_ShowHideMapa}").text("Ocultar")
                                } else {
                                    /*Se cambia el texto y el icono*/
                                    $("#@{@Flecha}").removeClass("bi-chevron-up")
                                    $("#@{@Flecha}").addClass("bi-chevron-down")
                                    $("#@{@TXT_ShowHideMapa}").text("Agregar Ubicación")
                                }
                                $('#@{@DIV_Mapa}').slideToggle();
                            })
                        }
                    },
                    KeyPress: function () {//Funcion para validar lo que se puede digitar en los inputs

                            $('#@{@Input_TelefonoGasolinera}').keypress(function (event) { //Se evitan caracteres y letras en el input de telefono
                                var keyCode = event.which;
                                var inputValue = $(this).val();

                                if (keyCode < 48 || keyCode > 57) {
                                    event.preventDefault();
                                }
                                if (inputValue.length > 7) {
                                    event.preventDefault();
                                }

                            });

                            $('#@{@Input_TelefonoGasolinera}').on("paste", function (event) {//Se evita el pegar en el input telefono 
                                event.preventDefault();
                            });

                            $('#@{@Input_NITGasolinera}').keypress(function (event) {//Se evitan caracteres y letras en el input de nit
                                var keyCode = event.which;
                                var inputValue = $(this).val();

                                if (keyCode < 48 || keyCode > 57) {
                                    event.preventDefault();
                                }
                                if (inputValue.length > 13) {
                                    event.preventDefault();
                                }

                            });

                            $('#@{@Input_NITGasolinera}').on("paste", function (event) {//Se evita el pegar en el input telefono
                                event.preventDefault();
                            });

                            
                            $('#@{@Input_CodigoGasolinera}').keypress(function (event) {//Se evitan caracteres y letras en el código de gasolinera
                                var keyCode = event.which;
                                var inputValue = $(this).val();


                                if (inputValue.length > 49) {
                                    event.preventDefault();
                                }

                            });

                            $('#@{@Input_CiudadGasolinera}').keypress(function (event) {//Se limita a que no se pueda poner mas de 50 caracteres en el input de ciudad
                                var keyCode = event.which;
                                var inputValue = $(this).val();


                                if (inputValue.length > 49) {
                                    event.preventDefault();
                                }

                            });

                            $('#@{@Input_GerenteGasolinera}').keypress(function (event) {//Se limita a que no se pueda poner mas de 50 caracteres en el input de Gerente
                                var keyCode = event.which;
                                var inputValue = $(this).val();

                                if (inputValue.length > 49) {
                                    event.preventDefault();
                                }

                            });

                            $('#@{@Input_DireccionGasolinera}').keypress(function (event) {//Se limita a que no se pueda poner mas de 255 caracteres en el input de Dirección
                                var keyCode = event.which;
                                var inputValue = $(this).val();

                                if (inputValue.length > 254) {
                                    event.preventDefault();
                                }

                            });

                            $('#@{@Input_EmailGasolinera}').keypress(function (event) {//Se limita a que no se pueda poner mas de 255 caracteres en el input de Email
                                var keyCode = event.which;
                                var inputValue = $(this).val();

                                if (inputValue.length > 254) {
                                    event.preventDefault();
                                }

                            });
                    },/*Funcion para validar los datos de la gasolinera*/
                    Validaciones: function (NombreGasolinera, CodigoGasolinera,CiudadGasolinera,GerenteGasolinera,TelefonoGasolinera,NITGasolinera,DireccionGasolinera,EmailGasolinera) {//Funcion para validar los datos de la gasolinera
                        var validEmail = /^\w+([.-_+]?\w+)*@@\w+([.-]?\w+)*(\.\w{2,10})+$/;/*Regex para validar correo*/ 
                        
                        if (NombreGasolinera === ""){//Se verifica que se ingresó un nombre de gasolinera
                            $._combustible.alert("error", "Campo vacío", "Debe insertar el nombre de la gasolinera")
                            return false
                        }
                        if (NombreGasolinera.length < 3) {//Se verifica el largo del nombre gasolinera
                            $._combustible.alert("error", "Campo vacío", "El nombre debe tener al menos tres caracteres")
                            return false
                        }

                        if(CodigoGasolinera.length > 0){//Se verifica si se ingredo un codigo de gasolinera 
                            if (CodigoGasolinera.length < 3) {//Si se ingreso un codigo se verifica que tengas mas de 2 caracteres 
                                $._combustible.alert("error", "Código demasiado corto", "El Código debe tener al menos tres caracteres")
                                return false
                            }
                        }

                        if(CiudadGasolinera.length > 0){//Se verifica si se ingreso una ciudad para la gasolinera
                            if (CiudadGasolinera.length < 3) {//Si se ingreso una ciudad se verifica que tengas mas de 2 caracteres 
                                $._combustible.alert("error", "Nombre demasiado corto", "El nombre de la ciudad debe tener al menos tres caracteres")
                                return false
                            }
                        }

                        if(GerenteGasolinera.length > 0){//Se verifica si se ingreso un gerente para la gasolinera
                            if (GerenteGasolinera.length < 3) {//Si se ingreso un gerente se verifica que tengas mas de 2 caracteres 
                                $._combustible.alert("error", "Nombre demasiado corto", "El nombre de el gerente debe tener al menos tres caracteres")
                                return false
                            }
                        }

                        /*if(TelefonoGasolinera.length > 0){
                            if (TelefonoGasolinera.length < 3) {
                                $._combustible.alert("error", "Nombre demasiado corto", "El nombre de el gerente debe tener al menos tres caracteres")
                                return false
                            }
                        }*/

                        if(TelefonoGasolinera.length > 0){//Se verifica si se ingreso un telefono para la gasolinera
                            if (TelefonoGasolinera.length < 8) {//Si se ingreso un telefono se verifica que tengas mas de 7 caracteres 
                                $._combustible.alert("error", "Número demasiado corto", "El Número telefónico debe tener 8 digitos")
                                return false
                            }
                        }

                        if(NITGasolinera.length > 0){//Se verifica si se ingreso un NIT para la gasolinera
                            if (NITGasolinera.length < 14) {//Si se ingreso un telefono se verifica que tengas mas de 13 caracteres 
                                $._combustible.alert("error", "NIT demasiado corto", "El NIT  debe tener 14 digitos")
                                return false
                            }
                        }
                        /*if(NITGasolinera.length > 0){
                            if (NITGasolinera.length < 14) {
                                $._combustible.alert("error", "NIT demasiado corto", "El NIT  debe tener 14 digitos")
                                return false
                            }
                        }*/

                        if (DireccionGasolinera.length > 0) {
                            if (DireccionGasolinera.length < 8) {
                                $._combustible.alert("error", "Dirección demasiado corta", "La dirección debe tener al menos 8 digitos")
                                return false
                            }
                        }

                        if (EmailGasolinera.length > 0) {
                            if (!validEmail.test(EmailGasolinera)) {
                                $._combustible.alert("error", "Formato de correo incorrecto", "Debe digitar  un correo válido, por ejemplo usuario@correo.com")
                                return false
                            }
                        }
                        //if() 

                        /*if(CodigoGasolinera.length > 0){
                            if (CodigoGasolinera.length < 3) {
                                $._combustible.alert("error", "Código demasiado corto", "El Código debe tener al menos tres caracteres")
                                return false
                            }
                        }*/
                        return true
                    },
                    BTN_GuardaGasolinera: function () {//Funcion para guardar la nueva Gasooinera
                        var _this = this
                        $("#@{@BTN_GuardarGasolinera}").on("click", function () {
                            /* Se obtienen los datos de la gasolinera*/
                            var NombreGasolinera = $("#@{@Input_NombreGasolinera}").val().trim()
                            var CodigoGasolinera = $("#@{@Input_CodigoGasolinera}").val().trim()
                            var CiudadGasolinera = $("#@{@Input_CiudadGasolinera}").val().trim()
                            var GerenteGasolinera = $("#@{@Input_GerenteGasolinera}").val().trim()
                            var TelefonoGasolinera = $("#@{@Input_TelefonoGasolinera}").val().trim()
                            var NITGasolinera = $("#@{@Input_NITGasolinera}").val().trim()
                            var DireccionGasolinera = $("#@{@Input_DireccionGasolinera}").val().trim()
                            var EmailGasolinera = $("#@{@Input_EmailGasolinera}").val().trim()

                            /*Se manda a llamar a la fucnion que valida los datos y se evalua el resultado*/ 
                            if (_this.Validaciones(NombreGasolinera,CodigoGasolinera,CiudadGasolinera,GerenteGasolinera,TelefonoGasolinera,NITGasolinera,DireccionGasolinera,EmailGasolinera) === true) {
                                var market = _this.AgregarUbicaion.markers[0]
                                arg = {
                                    DescriEstacionServicio: NombreGasolinera,
                                    Latitud: (market === undefined ? null : market.getPosition().lat()),
                                    Longitud: (market === undefined ? null : market.getPosition().lng()), 
                                    CodigoGasolinera :CodigoGasolinera ,  
                                    CiudadGasolinera: CiudadGasolinera,  
                                    GerenteGasolinera: GerenteGasolinera,  
                                    TelefonoGasolinera: TelefonoGasolinera,  
                                    NITGasolinera : NITGasolinera,  
                                    DireccionGasolinera : DireccionGasolinera,  
                                    EmailGasolinera: EmailGasolinera
                                }
                                
                                
                                //console.log(arg)
                                $.post('@Url.Action("CrearGasolinera", "adGasolinera")',arg,function (mensaje) {
                                    mensaje = mensaje[0]
                                    if (mensaje.bandera === 1) {
                                        $._combustible.alert("success", "Registro Exitoso", mensaje.resultado)
                                        $("#@{@Map}").html("")
                                        $.ModuloGasolinera.AgregarGasolinera.AgregarUbicaion.CargarMapa()
                                        $("#@{@Input_NombreGasolinera}").val("")

                                        $("#@{@Input_CodigoGasolinera}").val("")
                                        $("#@{@Input_CiudadGasolinera}").val("")
                                        $("#@{@Input_GerenteGasolinera}").val("")
                                        $("#@{@Input_TelefonoGasolinera}").val("")
                                        $("#@{@Input_NITGasolinera}").val("")
                                        $("#@{@Input_DireccionGasolinera}").val("")
                                        $("#@{@Input_EmailGasolinera}").val("")

                                        //$('#DIV_Mapa').slideToggle();
                                        $('#@{@DIV_Mapa}').hide()
                                        $("#@{@Flecha}").removeClass("bi-chevron-up")
                                        $("#@{@Flecha}").addClass("bi-chevron-down")
                                        $("#@{@TXT_ShowHideMapa}").text("Agregar Ubicación")
                                        $.ModuloGasolinera.GRID.DataGrid()
                                    } else {
                                        $._combustible.alert("error", "Error", mensaje.resultado)
                                    }
                                
                                })
                            }
                        });
                    }
                },
                GRID: {
                    CargarGrid: function () {//Funcion para inicializar el GRID
                        $("#@{@GRID_Gasolinera}").html("");//Se limmpia el contenedor del GRID
                        $("#@{@GRID_Gasolinera}").kendoGrid({//Se inicializa el GRID
                            dataSource: {
                                pageSize: 15
                            },
                            scrollable: true,
                            toolbar: ["search"],//Se cnofigura las opciones del toolbar
                            themeColor: "Purple",
                            columns: [
                                {
                                    field: "nombre",
                                    title: "Nombre",
                                    attributes: { class: "col-data" },//Se indica que el estilo será definido por una clase de css
                                    headerAttributes: { class: "col-data" },//Se indica que el estilo será definido por una clase de css
                                },
                                {
                                    field: "codigo",
                                    title: "Código",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" },
                                },
                                {
                                    field: "ciudad",
                                    title: "Ciudad",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" },
                                },
                                {
                                    field: "gerente",
                                    title: "Gerente",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" },
                                },
                                {
                                    field: "telefono",
                                    title: "Teléfono",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" },
                                },
                                {
                                    field: "nIT",
                                    title: "NIT",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" },
                                },
                                {
                                    field: "direccion",
                                    title: "Dirección",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" },
                                },
                                {
                                    field: "email",
                                    title: "Email",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" },
                                },
                                {
                                    field: "latLng",
                                    type: "string",
                                    title: "Ubicación",
                                    filterable: false,
                                    attributes: { class: "col-ubicacion" },
                                    headerAttributes: { class: "col-ubicacion" },
                                    /*template: function (data) {
                                        if (data.latitud !== 0 && data.longitud !== 0) {
                                            return '<button type="button" class="btn btn-success " onclick = "$.GRID.Modal.Mostrar(' + data.latitud + ',' + data.longitud + ',' +'"' + data.nombre+'"' + ' )"> <i class="bi bi-geo"></i> Mostrar Ubicacion</button>'
                                        }else{
                                            return '<span></span>'
                                        }
                                        console.log(data)
                                    }*/
                                    template: function (data) {
                                        if (data.latitud !== 0 && data.longitud !== 0) {
                                            return '<button type="button" class="btn btn-success" onclick="$.ModuloGasolinera.GRID.Modal.Mostrar(' + data.latitud + ', ' + data.longitud + ', \'' + data.nombre + '\')"> <i class="bi bi-geo"></i> Mostrar Ubicación</button>';
                                        } else {
                                            return '<span></span>';
                                        }
                                    }


                                }

                            ],
                            pageable: true,//Se habilita la paginación
                            mobile: "phone",//Se habilita la vista movil
                            dataBound: function (e) {
                                $("#@{@GRID_Gasolinera} > div span input").attr("placeholder", "Busqueda")
                            }
                        });

                    },
                    DataGrid: function () {//Función para traer la data del Grid del server
                        $.get('@Url.Action("ObtenerGasolineras", "adGasolinera")', function (Gasolineras) {
                            //console.log(Gasolineras)
                            $("#@{@GRID_Gasolinera}").data("kendoGrid").dataSource.data(Gasolineras)
                        })
                    },
                    Modal: {
                        Mostrar: function (latitud, longitud,Nombre) {//Función para mostrar la ubicación de la gasolinera
                            $("#@{@Modal_body_mapa}").html("");
                            var DIV = '<div id="@{@MapaModal}" style="height:50vh;"><div>'
                            $("#@{@Modal_body_mapa}").html(DIV);
                            $("#@{@TXT_NombreGasolineraModal}").text(Nombre)
                            const map = new google.maps.Map(document.getElementById("@{@MapaModal}"), {
                                center: { lat: latitud, lng: longitud },
                                zoom: 19,
                                mapTypeId: "hybrid",
                            });

                            const cityCircle = new google.maps.Circle({
                                strokeColor: "#FF0000",
                                strokeOpacity: 0.8,
                                strokeWeight: 2,
                                fillColor: "#FF0000",
                                fillOpacity: 0.35,
                                map,
                                center: { lat: latitud, lng: longitud },
                                radius: 50
                            });

                            var marker = new google.maps.Marker({
                                position: { lat: latitud, lng: longitud },
                                map: map
                            });
                            $("#@{@ModalMapa}").modal("show")
                        }
                    }
                },
                init: function () {
                    var _this = this;
                    _this.AgregarGasolinera.AgregarUbicaion.CargarMapa()
                    _this.AgregarGasolinera.AgregarUbicaion.Visibilidad()
                    _this.AgregarGasolinera.BTN_GuardaGasolinera()
                    _this.GRID.CargarGrid()
                    _this.GRID.DataGrid()
                    _this.AgregarGasolinera.KeyPress()

                }
            }
        })
        $.ModuloGasolinera.init()  
    })();
</script>