@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<section>
    <div class=" card">
        <div class="container-fluid p-4">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center"> Reporte de uso de vales por vehículo</h2>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-3 col-12">
                    <label>Fecha Inicio</label>
                    <input id="FechaIni"/>
                </div>
                <div class="col-lg-3 col-12 mt-2 mt-lg-0">
                    <label>Fecha Fin</label>
                    <input id="FechaFin"/>
                </div>
                <div class="col-lg-2 col-12 mt-2 mt-lg-0">
                    <label>Seleccione el top</label>
                    <input id="kendoDropDownListTop" />
                </div>
                <div class="col-lg-2 col-12 mt-2 mt-lg-0">
                    <label>Seleccione la variable</label>
                    <input id="kendoDropDownListVariable" />
                </div>
                <div class="col-lg-2 d-flex align-items-end col-12 mt-2 mt-lg-0">
                    <button type="button" class="btn btn-success w-100" id="BTN_GenerarReporte"> Generar </button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6 offset-lg-3  col-12" id="ContenedorGraficaGeneral">
                    <div id="BarChartGeneral">

                    </div>
                </div>
                <div class="col-lg-6 col-12" style="display:none; position:relative;" id="ContenedorGraficaVales">
                    

                    <div id="BarChartVales">
                    </div>
                </div>
            </div>
            @*<div class="row mt-5">
                <div class="col-lg-6 col-12">
                    <div id="BarChartVales">
                    </div>
                </div>
            </div>*@
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div id="GridVales">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    /*#BTN_Ocultar {
        border-radius: 1em;
        position: absolute;
        z-index: 1;
        bottom:1px;
        left: 25px;
        font-size: 0.85em;
        font-weight: 600;
    }*/
    /*.legendCuston{
        background:red;
    }
    .legendCuston:hover{
        opacity:5;
    }*/
</style>
<script>
    (function () {
        $.extend({
            Data: function () {
                var _this = this;

                let _Top = parseInt($("#kendoDropDownListTop").data("kendoDropDownList").value())
                let _OrderByID = parseInt($("#kendoDropDownListVariable").data("kendoDropDownList").value())
                let _FechaIni = moment($("#FechaIni").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss")
                let _FechaFin = moment($("#FechaFin").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss")
                let arg = {
                    NumTop: _Top,
                    OrderByID: _OrderByID,
                    FechaIni: _FechaIni,
                    FechaFin: _FechaFin
                }

                $.get('@Url.Action("ObtenerTopValesPorVehiculo", "rpTopValePorVehiculo")', arg, function (Data) {
                    _this.GraficaGeneral(Data)
                    _this.Grid.DataGrid(Data)
                });

                _this.Grid.SubGrid.FechaIni = _FechaIni
                _this.Grid.SubGrid.FechaFin = _FechaFin
            },
            Datetimepicker: function () {
                var _this = this
                $("#FechaIni").kendoDateTimePicker({
                    dateInput: true,
                    startTime: new Date(2023, 1, 3, 8, 30, 0),
                    endTime: new Date(2023, 1, 3, 17,00, 0)
                });
                $("#FechaFin").kendoDateTimePicker({
                    dateInput: true,
                    startTime: new Date(2023, 1, 3, 8, 30, 0),
                    endTime: new Date(2023, 1, 3, 17,00, 0)
                });


                var dataTOP = new kendo.data.DataSource({
                    data: [
                        { TopID: 5, TopName: "Top 5" },
                        { TopID: 10, TopName: "Top 10" },
                        { TopID: 15, TopName: "Top 15" }
                    ],
                    sort: { field: "CityName", dir: "asc" }
                });

                $("#kendoDropDownListTop").kendoDropDownList({
                    filter: "contains",
                    dataTextField: "TopName",
                    dataValueField: "TopID",
                    dataSource: dataTOP
                });

                var dataVariable = new kendo.data.DataSource({
                    data: [
                        { TopID: 1, TopName: "Cantidad de vales" },
                        { TopID: 2, TopName: "Suma de Galones" },
                        { TopID: 3, TopName: "Suma de Dolares" }
                    ],
                    sort: { field: "CityName", dir: "asc" }
                });

                $("#kendoDropDownListVariable").kendoDropDownList({
                    filter: "contains",
                    dataTextField: "TopName",
                    dataValueField: "TopID",
                    dataSource: dataVariable
                });
                

                $("#FechaIni").data("kendoDateTimePicker").value(kendo.parseDate(moment().subtract(30, 'days').format("YYYY/MM/DD HH:mm:ss:SSS")));
                $("#FechaFin").data("kendoDateTimePicker").value(kendo.parseDate(moment().format("YYYY/MM/DD HH:mm:ss.SSS")));

                /*_FechaIni = moment().subtract(30, 'days').format("YYYY/MM/DD HH:mm:ss:SSS")
                _FechaFin = moment().format("YYYY/MM/DD HH:mm:ss.SSS")

                let arg = { 
                    NumTop: 10, 
                    FechaIni: _FechaIni,
                    FechaFin: _FechaFin
                }

                $.get('@Url.Action("ObtenerTopValesPorVehiculo", "rpTopValePorVehiculo")',arg, function (top) {
                    _this.Grafica(top)
                });*/
            },
            GraficaGeneral: function (Datos) {
                var _this = this

                $("#BarChartGeneral").html("");

                let TOP = $("#kendoDropDownListTop").data("kendoDropDownList").text()
                let variable = $("#kendoDropDownListVariable").data("kendoDropDownList").text()
                let _categories = Datos.map(item => item.placa)

                let _series = []
                _series.push({
                    name: 'Cantidad Galones',
                    data: Datos.map(item => item.cantGal),
                    yAxis: 0,
                    color: "#0C32F2"
                })
                _series.push({
                    name: 'Total de dinero',
                    data: Datos.map(item => item.totalPrecio),
                    yAxis: 1,
                    color: '#274d33'
                })
                _series.push({
                    name: 'Cantidad Vales',
                    data: Datos.map(item => item.cantVales),
                    yAxis: 2,
                    color: '#C70CF2'
                })

                var Grafica = Highcharts.chart('BarChartGeneral', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: TOP + ' de uso de vales por vehículo por ' + variable,
                        align: 'left'
                    },
                    xAxis: {
                        categories: _categories,
                        title: {
                            text: "Placas"
                        },
                        gridLineWidth: 2,
                        lineWidth: 0,
                        labels: {
                            formatter: function () {
                                return '<span class="ObtenerPlaca" title="' + this.value + '">' + this.value + '</span>';
                            },
                            useHTML: true
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    yAxis: [
                        {
                            min: 0,
                            tickInterval: 5,
                            opposite: true,
                            title: {
                                text: 'Galones',
                                align: 'high',
                                style: {
                                    color: '#0C32F2'
                                }
                            },
                            labels: {
                                overflow: 'justify',
                                style: {
                                    color: '#0C32F2'
                                }
                            },
                            gridLineWidth: 1
                        },
                        {
                            min: 0,
                            tickInterval: 10,
                            opposite: true,
                            title: {
                                text: 'Dolares',
                                align: 'high',
                                style: {
                                    color: '#274d33'
                                }
                            },
                            labels: {
                                overflow: 'justify',
                                style: {
                                    color: '#274d33'
                                }
                            },
                            gridLineWidth: 1
                        },
                        {
                            min: 0,
                            tickInterval: 1,
                            opposite: true,
                            title: {
                                text: 'Vales',
                                align: 'high',
                                style: {
                                    color: '#C70CF2'
                                }
                            },
                            labels: {
                                overflow: 'justify',
                                style: {
                                    color: '#C70CF2'
                                }
                            },
                            gridLineWidth: 1

                        }
                    ]/*,
                    tooltip: {
                        valueSuffix: ' millions'
                    }*/,
                    plotOptions: {
                        column: {
                            borderRadius: '50%',
                            dataLabels: {
                                enabled: true
                            },
                            groupPadding: 0.1
                        }
                    },
                    legend: {
                        className: 'legendCuston',
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 0,
                        y: 35,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor:
                            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: _series
                });

                $(".ObtenerPlaca").on("click", function () {
                    var _data = $(this);
                    _this.GraficaVales.DataGrafica(_data.attr("title"))
                });
            },
            GraficaVales: {
                DataGrafica: function (Placa) {
                    var _this = this
                    let arg = {
                        Placa: Placa,
                        FechaIncio: $.Grid.SubGrid.FechaIni,
                        FechaFin: $.Grid.SubGrid.FechaFin
                    }
                    $.get('@Url.Action("ObtenerValesUsadosXPlaca", "rpTopValePorVehiculo")', arg, function (Data) {
                        _this.Mostrar(Data, Placa)
                    })
                },
                Mostrar: function (Datos, Placa) {

                    $("#BarChartVales").html("");

                    $("#ContenedorGraficaGeneral").removeClass("offset-lg-3")
                    $("#ContenedorGraficaVales").css("display", "block")

                    let _categories = Datos.map(item => "N°" + item.numVale)

                    let _series = []
                    _series.push({
                        name: 'Cantidad Galones',
                        data: Datos.map(item => item.cantidadGalones),
                        yAxis: 2,
                        color: '#0C32F2'
                    })
                    _series.push({
                        name: 'Total de dinero',
                        data: Datos.map(item => item.totalPrecio),
                        yAxis: 0,
                        color: '#274d33'
                    })
                    _series.push({
                        name: 'Odometro',
                        data: Datos.map(item => item.cantidadGalones),
                        yAxis: 1,
                        color: '#C70CF2'
                    })

                    Highcharts.chart('BarChartVales', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text:`<div class="container-fluid">
                                    <div class="row">
                                        <div class="col-10 d-flex align-items-center">
                                                <h6 class="text-start">Vales usados por la placa ${Placa}</h6>
                                        </div>
                                        <div class="col-2 d-flex align-items-center">
                                                <button type="button" id="BTN_Ocultar" class="btn btn-danger"> <i class="bi bi-x-circle"></i> </button>
                                        </div>
                                     </div>
                                  </div>`,
                            useHTML:true 
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            enabled: false
                        },
                        xAxis: {
                            categories: _categories,
                            title: {
                                text: 'N° de vales'
                            },
                            gridLineWidth: 2,
                            lineWidth: 0
                        },
                        yAxis: [
                            {
                                min: 0,
                                opposite: true,
                                tickInterval: 5,
                                title: {
                                    text: 'Galones',
                                    align: 'high',
                                    style: {
                                        color: '#0C32F2'
                                    }
                                },
                                labels: {
                                    overflow: 'justify',
                                    style: {
                                        color: '#0C32F2'
                                    }
                                },
                                gridLineWidth: 1
                            },
                            {
                                min: 0,
                                opposite: true,
                                tickInterval: 10,
                                title: {
                                    text: 'Dolares',
                                    align: 'high',
                                    style: {
                                        color: '#274d33'
                                    }
                                },
                                labels: {
                                    overflow: 'justify',
                                    style: {
                                        color: '#274d33'
                                    }
                                },
                                gridLineWidth: 1
                            },
                            {
                                min: 0,
                                opposite: true,
                                tickInterval: 100,
                                title: {
                                    text: 'Odometro',
                                    align: 'high',
                                    style: {
                                        color: '#C70CF2'
                                    }
                                },
                                labels: {
                                    overflow: 'justify',
                                    style: {
                                        color: '#C70CF2'
                                    }
                                },
                                gridLineWidth: 1

                            }
                        ],
                        plotOptions: {
                            column: {
                                borderRadius: '50%',
                                dataLabels: {
                                    enabled: true
                                },
                                groupPadding: 0.1
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'left',
                            verticalAlign: 'top',
                            x: 0,
                            y: 35,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: _series
                    });
                    $.GraficaVales.BTN_Ocultar()
                },
                BTN_Ocultar: function () {
                    $("#BTN_Ocultar").on("click", function () { 
                        //console.log("XD")
                        $("#ContenedorGraficaGeneral").addClass("offset-lg-3")
                        $("#ContenedorGraficaVales").css("display", "none")
                    });
                }
            },
            Grid: {
                LoadGrid: function () {
                    var _this = this
                    $("#GridVales").html("");
                    $("#GridVales").kendoGrid({
                        dataSource: {
                            pageSize: 10
                        },
                        toolbar: ["excel", "search"],
                        columns: [
                            {
                                field: "placa",
                                title: "Placa",
                                width: "100px"
                            },
                            {
                                field: "cantVales",
                                title: "Cantidad Vales",
                                width: "100px"
                            },
                            {
                                field: "totalPrecio",
                                title: "Total$",
                                width: "100px"
                            },
                            {
                                field: "cantGal",
                                title: "Cantidad Galones",
                                width: "100px"
                            }
                        ],
                        pageable: true,
                        selectable: "single, row",
                        mobile: "phone",
                        excel: {
                            fileName: "ReporteDeVales.xlsx"
                        },
                        detailInit: _this.SubGrid.LoadGrid,
                        dataBound: function (e) {
                            $("#GridVales > div span input").attr("placeholder", "Busqueda")
                        }
                    });
                },
                DataGrid: function (data) { 
                    $("#GridVales").data("kendoGrid").dataSource.data(data);
                },
                SubGrid: {
                    FechaIni: "",
                    FechaFin: "",
                    LoadGrid: function (e) {
                        let arg = {
                            Placa: e.data.placa,
                            FechaIncio: $.Grid.SubGrid.FechaIni,
                            FechaFin: $.Grid.SubGrid.FechaFin
                        }
                        $.get('@Url.Action("ObtenerValesUsadosXPlaca", "rpTopValePorVehiculo")', arg, function (Data) {

                            $("<div/>").appendTo(e.detailCell).kendoGrid({
                                dataSource: Data,
                                toolbar: ["excel", "search"],
                                columns: [
                                    { field: "numVale", title: "N° Vale", width: "100px" },
                                    { field: "placa", title: "Placa", width: "100px" },
                                    { field: "cantidadGalones", title: "Cant. Gal.", width: "100px" },
                                    { field: "totalPrecio", title: "Total $", width: "100px" },
                                    { field: "odometro", title: "Odometro", width: "100px" },
                                    { field: "gasolinera", title: "Gasolinera", width: "200px" },
                                    { field: "userCierra", title: "Usuario Cierra", width: "150px" },
                                    { field: "fechaCierre", title: "Fecha Cierre", width: "200px" }

                                ], selectable: "single, row",
                                resizable: true
                            });
                        });

                    }
                }
            },
            BTN_GenerarData: function () {
                var _this = this;
                $("#BTN_GenerarReporte").on("click", function () {
                    //console.log("XD")
                    _this.Data()
                });
            },
            init: function () {
                var _this = this
                _this.Datetimepicker()
                _this.Grid.LoadGrid()
                _this.Data()
                _this.BTN_GenerarData()
                //_this.GraficaVales.BTN_Ocultar()
            }
        })
        $.init()
    })();
</script>